# Zephyr
modules
.west
tags
build/
.cache/
*.elf
twister-out*
*.bin

# Renode
*.html
*.xml
logs/
snapshots/
renode_portable/

# Zephelin Trace Viewer
zephelin-trace-viewer/

# Python
venv/*
.venv/*
__pycache__

# Compliance check
Checkpatch.txt
Ruff.txt
