# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

rsource "profilers/Kconfig"
rsource "backends/Kconfig"
rsource "scopes/Kconfig"
rsource "conf/Kconfig"
rsource "conf/Kconfig.mute_traces"

config ZPL
	bool "Support for Zephelin"
	help
	  Say 'Y' if you want to enable support for Zephelin, the Zephyr AI
	  Profiling Library.

config ZPL_TRACE
	bool "Support for integration with Zephyr tracing subsystem"
	select TRACING

config ZPL_INSTRUMENTATION
	bool "Enables instrumentation subsystem"
	select INSTRUMENTATION
	select INSTRUMENTATION_CTF_TIMER
	help
	  Enables instrumentation subsystem and selects proper time measurements mechanism,
	  as well as CTF trace format.

choice
	prompt "Zephelin trace format"
	default ZPL_TRACE_FORMAT_CTF if ZPL_INSTRUMENTATION
	default ZPL_TRACE_FORMAT_PLAINTEXT
	depends on ZPL_TRACE

config ZPL_TRACE_FORMAT_PLAINTEXT
	bool "Plaintext format for Zephelin trace"

config ZPL_TRACE_FORMAT_CTF
	bool "CTF format for Zephelin trace"

endchoice

choice TRACING_FORMAT_CHOICE
	default TRACING_TEST if ZPL_TRACE_FORMAT_PLAINTEXT
	default TRACING_CTF if ZPL_TRACE_FORMAT_CTF
endchoice

config ZPL_TRACE_CTF_MAX_STR_LEN
	int "Maximum string length for CTF events"
	default 20
	depends on ZPL_TRACE_FORMAT_CTF

config ZPL_TRACE_CTF_MAX_LONG_STR_LEN
	int "Maximum long string length for CTF events"
	default 60
	depends on ZPL_TRACE_FORMAT_CTF

config ZPL_INTERNALS_INSTRUMENTATION
	bool "Instrumentation of Zephelin internal functions"
	depends on ZPL_INSTRUMENTATION
	help
	  Say 'Y' if you want to enable instrumentation of Zephelin internal function,
	  otherwise all Zephelin files will be excluded from instrumentation.
	depends on INSTRUMENTATION

config ZPL_AUTORUN_INIT
	bool "Runs zpl_init automatically within SYS_INIT"
	default y
	depends on ZPL

choice
	prompt "Sets SYS_INIT initialization level for call of zpl_init"
	default ZPL_INIT_LVL_APPLICATION
	depends on ZPL_AUTORUN_INIT

config ZPL_INIT_LVL_EARLY
	bool "Sets level to EARLY"

config ZPL_INIT_LVL_PRE_KERNEL_1
	bool "Sets level to PRE_KERNEL_1"

config ZPL_INIT_LVL_PRE_KERNEL_2
	bool "Sets level to PRE_KERNEL_2"

config ZPL_INIT_LVL_POST_KERNEL
	bool "Sets level to POST_KERNEL"

config ZPL_INIT_LVL_APPLICATION
	bool "Sets level to APPLICATION"

config ZPL_INIT_LVL_SMP
	bool "Sets level to SMP"

endchoice

config ZPL_INIT_PRIO
	int "Sets SYS_INIT priority for call of zpl_init"
	default 1
	depends on ZPL_AUTORUN_INIT

module = ZPL
module-str = Zephelin
source "subsys/logging/Kconfig.template.log_config"
